name: TiddlyWiki5 merge

on: 
  schedule:
    - cron: "0 7 * * 1"
  workflow_dispatch:

jobs:
  repo-merge:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        ref: master
    - name: merge master
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        git config pull.rebase false
        git checkout master
        git pull 'https://github.com/Jermolene/TiddlyWiki5.git' master -X theirs --allow-unrelated-histories
        git rm .github/workflows/c*.yml
        git rm .github/workflows/pr*.yml
        git commit -m "remove Tiddlywiki yml"
        git push origin master